
body,
html {
  height: 100%;
  background-color: beige;
}

button {
    background-color: #2f5173; /* Green */
    width: 130px;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 5px 5px;
    margin: 10px 0 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

input{
    border-radius: 30px;
    width: 150px;
    height: 20px;
}

.card {
    /* Add shadows to create the "card" effect */
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 20px;
    padding: 40px 10px 40px 10px;
    background-color: white;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
    
.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

