body{
    background-color: black;
}

.swCards{
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: yellow 0 1rem 3rem 0.2rem;
}

.swCards .card{
    height: 35rem;
}

.divFormSides{
    color: white;
}

input#sideNeutral.form-check-input:checked, input#sideNeutral.form-check-input:focus{
    background-color: yellow;
    border-color: yellow;
    box-shadow: 0 0 0 0.25rem rgb(255, 255, 0, .25);
}
input#sideSith.form-check-input:checked, input#sideSith.form-check-input:focus{
    background-color: red;
    border-color: red;
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, .25);
}
input#sideJedi.form-check-input:checked, input#sideJedi.form-check-input:focus{
    background-color: blue;
    border-color: blue;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 255, .25);
}